body {
    background-image: linear-gradient( white);
}

header {
    background-color: #4682B4;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav li {
    font-size: 16px;
    text-transform: uppercase;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00FFFF; 
    transition: color 0.3s ease;
    font-size: 1.2em;
}

.container {
    background-color: rgb(39, 144, 192);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 70px auto;
    box-shadow: 5px 5px 10px rgb(11, 54, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabecalho {
    font: normal 40px Arial;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    margin: 15px 0;
}

.descricoes{
    font: normal 15px Arial;
    font-weight: bold;
    color: white;
    margin-top: 5px;

}

.formulario-resposta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.campo {
    background-color: rgb(240, 248, 248);
    border: 1px;
    border-radius: 10px;
    padding: 5px 0 5px 15px;
    box-shadow: 5px 5px 10px rgb(11, 54, 94);
    width: 250px;
    height: 15px;
    margin: 15px 0;
    color:  rgb(11, 54, 94);
}
.genero {
    background-color:white;
    border: 1px;
    border-radius: 10px;
    padding: 5px 0 5px 5px;
    box-shadow: 5px 5px 10px rgb(67, 116, 161);
    width: 265px;
    height: 25px;
    margin: 15px 0;
    color: rgb(11, 54, 94);
}


.entrar {
    background-color: white;
    border: 5px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(11, 54, 94);
    width: 100px;
    height: 50px;
    margin: 15px 80px;
    font: normal 15px Arial;
    font-weight: bold;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
